.venv/
venv/
ENV/
env/

__pycache__/
*.py[cod]
*.pyo
*.pyd

*.log
*.tmp
*.bak
*.swp
*.swo

*.sqlite3
*.db

.env
*.env
*.secret
*.key

staticfiles/
media/

.idea/
.vscode/
*.code-workspace
*.sublime-project
*.sublime-workspace

*.egg-info/
dist/
build/

.DS_Store
Thumbs.db
desktop.ini

.ipynb_checkpoints/